### Childhood Autistic Spectrum Disorder Screening using Machine Learning

The early diagnosis of neurodevelopment disorders can improve treatment and significantly decrease the associated 
healthcare costs. In this project, we will use supervised learning to diagnose Autistic Spectrum Disorder 
(ASD) based on behavioural features and individual characteristics. More specifically, we will build and deploy a neural network using the Keras API. 

This project will use a dataset provided by the UCI Machine Learning Repository that contains screening data for 292 patients. The dataset can be found at the following URL: 
https://archive.ics.uci.edu/ml/datasets/Autistic+Spectrum+Disorder+Screening+Data+for+Children++

In [1]:
#importing libraries
import sys
import pandas as pd
import sklearn
import keras

In [2]:
# import the dataset
file = 'Autism-Child-Data.txt'

# read the csv
data = pd.read_table(file, sep = ',', index_col = None)

FileNotFoundError: [Errno 2] No such file or directory: 'Autism-Child-Data.txt'

In [ ]:
# print the shape of the DataFrame, so we can see how many examples we have
print(data.loc[0])

A1_Score                      1
A2_Score                      1
A3_Score                      0
A4_Score                      0
A5_Score                      1
A6_Score                      1
A7_Score                      0
A8_Score                      1
A9_Score                      0
A10_Score                     0
age                           6
gender                        m
ethnicity                Others
jundice                      no
austim                       no
contry_of_res            Jordan
used_app_before              no
result                        5
age_desc           '4-11 years'
relation                 Parent
Class                        NO
Name: 0, dtype: object

In [ ]:
# print out multiple patients at the same time
data.loc[:10]

    A1_Score  A2_Score  A3_Score  A4_Score  ...  result      age_desc  relation  Class
0          1         1         0         0  ...       5  '4-11 years'    Parent     NO
1          1         1         0         0  ...       5  '4-11 years'    Parent     NO
2          1         1         0         0  ...       5  '4-11 years'         ?     NO
3          0         1         0         0  ...       4  '4-11 years'         ?     NO
4          1         1         1         1  ...      10  '4-11 years'    Parent    YES
5          0         0         1         0  ...       5  '4-11 years'         ?     NO
6          1         0         1         1  ...       7  '4-11 years'    Parent    YES
7          1         1         1         1  ...       8  '4-11 years'    Parent    YES
8          1         1         1         1  ...       7  '4-11 years'    Parent    YES
9          0         0         1         1  ...       5  '4-11 years'         ?     NO
10         1         0         0         0  ...       7  '4-11 years'      Self    YES

[11 rows x 21 columns]

In [ ]:
# print out a description of the dataframe
data.describe()

         A1_Score    A2_Score    A3_Score  ...    A9_Score   A10_Score      result
count  292.000000  292.000000  292.000000  ...  292.000000  292.000000  292.000000
mean     0.633562    0.534247    0.743151  ...    0.493151    0.726027    6.239726
std      0.482658    0.499682    0.437646  ...    0.500811    0.446761    2.284882
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    5.000000
50%      1.000000    1.000000    1.000000  ...    0.000000    1.000000    6.000000
75%      1.000000    1.000000    1.000000  ...    1.000000    1.000000    8.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000   10.000000

[8 rows x 11 columns]

In [0]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [ ]:
data.loc[:10]

    A1_Score  A2_Score  A3_Score  ...  used_app_before  relation  Class
0          1         1         0  ...               no    Parent     NO
1          1         1         0  ...               no    Parent     NO
2          1         1         0  ...              yes         ?     NO
3          0         1         0  ...               no         ?     NO
4          1         1         1  ...               no    Parent    YES
5          0         0         1  ...               no         ?     NO
6          1         0         1  ...               no    Parent    YES
7          1         1         1  ...               no    Parent    YES
8          1         1         1  ...               no    Parent    YES
9          0         0         1  ...               no         ?     NO
10         1         0         0  ...               no      Self    YES

[11 rows x 19 columns]

In [0]:
# create X and Y datasets for training
x = data.drop(columns=['Class'])
y = data['Class']

In [ ]:
x.loc[:10]

    A1_Score  A2_Score  A3_Score  ...     contry_of_res  used_app_before  relation
0          1         1         0  ...            Jordan               no    Parent
1          1         1         0  ...            Jordan               no    Parent
2          1         1         0  ...            Jordan              yes         ?
3          0         1         0  ...            Jordan               no         ?
4          1         1         1  ...   'United States'               no    Parent
5          0         0         1  ...             Egypt               no         ?
6          1         0         1  ...  'United Kingdom'               no    Parent
7          1         1         1  ...           Bahrain               no    Parent
8          1         1         1  ...           Bahrain               no    Parent
9          0         0         1  ...           Austria               no         ?
10         1         0         0  ...  'United Kingdom'               no      Self

[11 rows x 18 columns]

In [0]:
# convert the data to categorical values - one-hot-encoded vectors
X = pd.get_dummies(x)

In [ ]:
# print the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'austim_no', 'austim_yes', "contry_of_res_'Costa Rica'",
       "contry_of_res_'Isle of Man'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'South Africa'",
       "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [ ]:
# print an example patient from the categorical data
X.loc[1]

A1_Score             1
A2_Score             1
A3_Score             0
A4_Score             0
A5_Score             1
                    ..
relation_?           0
relation_Parent      1
relation_Relative    0
relation_Self        0
relation_self        0
Name: 1, Length: 96, dtype: int64

In [0]:
# convert the class data to categorical values - one-hot-encoded vectors
Y = pd.get_dummies(y)

In [ ]:
Y.iloc[:10]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1
5   1    0
6   0    1
7   0    1
8   0    1
9   1    0

In [0]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

### Building the Network - Keras

In [ ]:
# build a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))
    
    # compile model
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 8)                 776
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

### Training the Network

Now it's time for the fun! Training a Keras model is as simple as calling model.fit().

In [ ]:
# fit the model to the training data
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
233/233 [==============================] - 2s 8ms/step - loss: 0.6927 - accuracy: 0.5279
Epoch 2/50
233/233 [==============================] - 0s 279us/step - loss: 0.6899 - accuracy: 0.5322
Epoch 3/50
233/233 [==============================] - 0s 278us/step - loss: 0.6847 - accuracy: 0.5322
Epoch 4/50
233/233 [==============================] - 0s 278us/step - loss: 0.6760 - accuracy: 0.5322
Epoch 5/50
233/233 [==============================] - 0s 284us/step - loss: 0.6615 - accuracy: 0.5322
Epoch 6/50
233/233 [==============================] - 0s 273us/step - loss: 0.6405 - accuracy: 0.5322
Epoch 7/50
233/233 [==============================] - 0s 324us/step - loss: 0.6127 - accuracy: 0.5322
Epoch 8/50
233/233 [==============================] - 0s 281us/step - loss: 0.5827 - accuracy: 0.5322
Epoch 9/50
233/233 [==============================] - 0s 271us/step - loss: 0.5499 - accuracy: 0.5923
Epoch 10/50
233/233 [==============================] - 0s 272us/step - loss: 0.5202 - accuracy: 0.6953
Epoch 11/50
233/233 [==============================] - 0s 327us/step - loss: 0.4925 - accuracy: 0.7725
Epoch 12/50
233/233 [==============================] - 0s 268us/step - loss: 0.4686 - accuracy: 0.8026
Epoch 13/50
233/233 [==============================] - 0s 272us/step - loss: 0.4482 - accuracy: 0.8412
Epoch 14/50
233/233 [==============================] - 0s 272us/step - loss: 0.4281 - accuracy: 0.8712
Epoch 15/50
233/233 [==============================] - 0s 272us/step - loss: 0.4110 - accuracy: 0.8884
Epoch 16/50
233/233 [==============================] - 0s 276us/step - loss: 0.3963 - accuracy: 0.9099
Epoch 17/50
233/233 [==============================] - 0s 274us/step - loss: 0.3807 - accuracy: 0.9356
Epoch 18/50
233/233 [==============================] - 0s 285us/step - loss: 0.3683 - accuracy: 0.9227
Epoch 19/50
233/233 [==============================] - 0s 279us/step - loss: 0.3544 - accuracy: 0.9313
Epoch 20/50
233/233 [==============================] - 0s 285us/step - loss: 0.3425 - accuracy: 0.9442
Epoch 21/50
233/233 [==============================] - 0s 274us/step - loss: 0.3340 - accuracy: 0.9399
Epoch 22/50
233/233 [==============================] - 0s 352us/step - loss: 0.3232 - accuracy: 0.9614
Epoch 23/50
233/233 [==============================] - 0s 314us/step - loss: 0.3133 - accuracy: 0.9657
Epoch 24/50
233/233 [==============================] - 0s 284us/step - loss: 0.3032 - accuracy: 0.9785
Epoch 25/50
233/233 [==============================] - 0s 276us/step - loss: 0.2954 - accuracy: 0.9742
Epoch 26/50
233/233 [==============================] - 0s 277us/step - loss: 0.2877 - accuracy: 0.9785
Epoch 27/50
233/233 [==============================] - 0s 301us/step - loss: 0.2825 - accuracy: 0.9871
Epoch 28/50
233/233 [==============================] - 0s 284us/step - loss: 0.2722 - accuracy: 0.9785
Epoch 29/50
233/233 [==============================] - 0s 275us/step - loss: 0.2670 - accuracy: 0.9914
Epoch 30/50
233/233 [==============================] - 0s 317us/step - loss: 0.2593 - accuracy: 0.9828
Epoch 31/50
233/233 [==============================] - 0s 271us/step - loss: 0.2545 - accuracy: 1.0000
Epoch 32/50
233/233 [==============================] - 0s 286us/step - loss: 0.2469 - accuracy: 0.9957
Epoch 33/50
233/233 [==============================] - 0s 277us/step - loss: 0.2405 - accuracy: 1.0000
Epoch 34/50
233/233 [==============================] - 0s 277us/step - loss: 0.2355 - accuracy: 1.0000
Epoch 35/50
233/233 [==============================] - 0s 272us/step - loss: 0.2301 - accuracy: 1.0000
Epoch 36/50
233/233 [==============================] - 0s 296us/step - loss: 0.2248 - accuracy: 1.0000
Epoch 37/50
233/233 [==============================] - 0s 309us/step - loss: 0.2207 - accuracy: 1.0000
Epoch 38/50
233/233 [==============================] - 0s 328us/step - loss: 0.2160 - accuracy: 1.0000
Epoch 39/50
233/233 [==============================] - 0s 362us/step - loss: 0.2113 - accuracy: 1.0000
Epoch 40/50
233/233 [==============================] - 0s 302us/step - loss: 0.2066 - accuracy: 1.0000
Epoch 41/50
233/233 [==============================] - 0s 284us/step - loss: 0.2021 - accuracy: 1.0000
Epoch 42/50
233/233 [==============================] - 0s 269us/step - loss: 0.1989 - accuracy: 1.0000
Epoch 43/50
233/233 [==============================] - 0s 278us/step - loss: 0.1944 - accuracy: 1.0000
Epoch 44/50
233/233 [==============================] - 0s 269us/step - loss: 0.1907 - accuracy: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 270us/step - loss: 0.1868 - accuracy: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 277us/step - loss: 0.1832 - accuracy: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 283us/step - loss: 0.1804 - accuracy: 1.0000
Epoch 48/50
233/233 [==============================] - 0s 273us/step - loss: 0.1758 - accuracy: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 278us/step - loss: 0.1724 - accuracy: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 287us/step - loss: 0.1696 - accuracy: 1.0000

In [ ]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict_classes(X_test)
predictions

array([1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0])

In [ ]:
print('Results for Categorical Model')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Results for Categorical Model
0.847457627118644
              precision    recall  f1-score   support

           0       0.78      0.93      0.85        27
           1       0.93      0.78      0.85        32

    accuracy                           0.85        59
   macro avg       0.85      0.85      0.85        59
weighted avg       0.86      0.85      0.85        59